<div class="list-detail">
  <p class="label">
    Edit List
  </p>

  <mat-form-field class="input-task">
    <input matInput placeholder="Input List Name" [(ngModel)]="listName" />
  </mat-form-field>

  <button
    mat-raised-button
    mat-primary
    (click)="editListName()"
    [disabled]="listName === periousListName"
  >
    <mat-icon>save</mat-icon>
    Save
  </button>

  <p class="label">
    Add New Task
  </p>

  <mat-form-field class="input-task">
    <input matInput placeholder="Input New Task" [(ngModel)]="newTask" />
  </mat-form-field>

  <button mat-raised-button (click)="createTask()" [disabled]="!newTask">
    <mat-icon>add</mat-icon>
    Add
  </button>

  <div class="todo-list-container">
    <div *ngFor="let task of tasks; let index = index" class="container-item">
      <a class="todo-link">
        <mat-card class="todo-card" [class.complete]="task?.completed">
          <mat-checkbox
            [checked]="task.completed"
            (change)="onCheckboxChange(task.id)"
            >{{ task?.name }}</mat-checkbox
          >
          <span>
            <button
              mat-mini-fab
              color="primary"
              (click)="deleteTask(task.id, index)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="updateTask(task)">
              <mat-icon>mode_edit</mat-icon>
            </button>
          </span>
        </mat-card>
      </a>
    </div>
  </div>
  <button mat-raised-button (click)="backtoDoListScreen()">
    Cancel
  </button>
</div>
